.resume{
  margin-bottom: 15px;
}

.resume__title {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
  display: inline-block;
  padding: 2px 5px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  color: var(--black);
}

.resume__title::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--lightgreen);
  z-index: -1;
  border-radius: 15px;
}

.resume-content__year-map {
  width: 25%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-content__year-map h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}


.experience__year-map span {
  display: block;
}

.resume-content {
  display: flex;
  border-radius: 6px;
  margin-top: 15px;
  position: relative;
}

.resume-content__desc {
  padding-bottom: 10px;
  width: 75%;
  border-bottom: 0.1px dotted var(--white);
}

.resume-content:last-child .resume-content__desc{
  border-bottom: none;
}




.experience__company-name {
  font-size: 14px;
}

.experience__designation {
  font-size: 20px;
  font-weight: bold;
}

.experience__responsibility{
  margin-top: 15px;
  font-size: 18px;
  margin-bottom: 0px;
}

.experience__responsibility ul{
  font-size: 16px;
}

.experience__responsibility ul li {
  position: relative;
  padding-left: 15px;
}

.experience__responsibility ul li:before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  content: "";
  background-color: #8a8a8a;
}




