.blog-item {
  width: fit-content;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  background-color: #e6e6e6;
  color: #000;
}

.blog-item:last-child {
  margin-bottom: 0;
}

.blog-item__photo {
  width: 300px;
}

.blog-item__photo img {
  max-height: 150px;
}

.blog-item__content {
  width: 80%;
  margin-left: 15px;
}

.blog-item__title {
  font-size: 20px;
}

.blog-item__title>a {
  display: block;
  font-size: 25px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.blog-item__title>a:hover {
  color: rgb(48 155 85);
}

.see-more {
  display: inline-block;
  padding: 0px 5px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  color: #000;
}

.see-more:hover {
  text-decoration: none;
  background-color: #eee;
  color: #000;
}


@media (max-width: 991px) {
  .blog-item__title>a {
    font-size: 18px;
  }


  .blog-item {
    flex-direction: column;
  }

  .blog-item__photo {
    width: 100%;
    margin-bottom: 8px;
  }

  .blog-item__content {
    width: 100%;
    margin-left: 0;
  }

  .blog-item__photo>img {
    max-height: none;
  }
}