
.about-content {
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
}

.about-info {
  border-radius: 3px;
  padding: 15px;
  padding-right: 100px;
  max-width: 800px;
}

.about-info,
.about-social-icons {
  height: fit-content;
}

.hi {
  font-size: 50px;
}

.about-info__name {
  font-size: 50px;
  color: var(--white);
  margin-bottom: 0;
  font-family: "Itim", cursive;
}

.highlight-text {
  color: var(--name)
}

.about-info__designation {
  font-size: 16px;
  margin-bottom: 10px;
  color: rgb(182, 182, 182);
}

.about-info__description {
  color: var(--white);
  margin-top: 10px;
  margin-bottom: 10px;
}

.skills {
  color: var(--white);
  margin-bottom: 5px;
}

.button {
  border-radius: 6px;
  border: none;
  padding: 10px 15px;
  background-color: transparent;
  border: 0.1px dotted var(--name);
  color: var(--name);
  font-weight: bold;
  display: inline-block;
  letter-spacing: 1px;
}

.btn-resume {
  position: relative;
  border-radius: 3px;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.btn-resume:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3%;
  background-color: var(--name);
  left: 0%;
  top: 0%;
  z-index: -1;
  transition: all 0.2s ease;
  opacity: 0;
}

.btn-resume:hover:before {
  background-color: var(--name);
  height: 100%;
  opacity: 1;
}

.btn-resume:hover {
  color: var(--text);
  background-color: var(--name);
}

.skill-title {
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 25px;
}

.skill-title::after {
  content: "";
  position: absolute;
  left: -2px;
  top: 50%;
  height: 20px;
  background-color: var(--lightgreen);
  width: 145px;
  z-index: -1;
}

.skills-wrap{
  display: flex;
  flex-wrap: wrap;
}

.skill {
  background-color: rgb(211, 211, 211);
  border-radius: 50px;
  padding: 5px 10px;
  color: var(--white);
  margin-left: 15px;
  margin-bottom: 8px;
}

.skill:first-of-type {
  margin-left: 0;
}

.html {
  background-color: #e34c26;
}
.css {
  background-color: #264de4;
}
.bootstrap {
  background-color: #563d7c;
}
.js {
  background-color: #f0db4f;
  color: #000;
}
.react {
  background-color: #61DBFB;
  color: #000;
}
.redux {
  background-color: #764abc;
}
.nodejs {
  background-color: #3C873A;
}
.express {
  background-color: #A4A4A4;
  color: #000;
}
.mongodb {
  background-color: #4DB33D;
}
.mongoose {
  background-color: #820000;
}
.sql {
  background-color: #EA8C10;
}

.section-title {
  padding-top: 5px;
  padding-bottom: 5px;
}
