
.image-wrap {
  /* background-color: var(--aboutDark); */
  border-radius: 50%;
  padding: 10px;
}

.image-wrap img {
  border-radius: 50%;
  height: 235px;
  display: block;
  margin: 0 auto;
  border: 5px solid greenyellow;
}
