.sidebar {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar li a {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--black);
  transition: .3s;
  border-radius: 50px;
  background-color: var(--lightgreen);
  margin-bottom: 5px;
  text-align: center;
}

.sidebar li a:hover {
  background-color: var(--name);
  text-decoration: none;
}

.sidebar li  .navLinkActive{
  background-color: var(--name);
}

.subMenu{
  width: 90%;
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
}

.active-sub-menu svg{
  transform: rotate(90deg);
}