.sidebar {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.sidebar li a {
  display: block;
  color: var(--black);
  transition: .3s;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.sidebar li a:hover {
  background-color: var(--name);
  text-decoration: none;
  color: #000;
}

.sidebar li  .navLinkActive{
  background-color: var(--name);
  color: #000;
}

.subMenu{
  width: 80%;
  margin-left: auto;
  margin-right: 5px;
  font-size: 14px;
}

.active-sub-menu svg{
  transform: rotate(90deg);
}

