:root {
  --white: #fff;
  --black: #000;
  --lightgreen: greenyellow;
  --name: #4cff8a;
  --moreInfoBtn: #231c1c;
  --moreInfoBtnHover: #3e2e1f;
  --sideBar: #5b9097;
}
/* hole section / parent of content-wrap */
.section-container {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 60px;
  z-index: 2;
}

.section-container::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(238, 238, 238) url('./images/page-bg-5.jpg') no-repeat center;
  background-size: cover;
  background-position: center center;
  z-index: -2;
  filter: blur(2px);
  opacity: .9;
}

.section-container::after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.85);
  z-index: -1;
}
/* wrap sidebar and main content */
.content-wrap {
  display: flex;
  height: 100%;
  width: 100%;
  flex-shrink: 0;
}

/* sidebar container */
.sidebar-container {
  width: 100px;
  padding: 10px;
  border-radius: 2px 15px 15px 2px;
  /* background-color: rgb(67, 105, 36); */
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.admin-sidebar-container {
  width: 300px;
  padding: 10px;
  /* background-color: rgb(67, 105, 36); */
  display: flex;
  flex-direction: column;
}

/* main content container */
.main-content-container {
  width: 85%;
  padding: 60px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* admin */
.main-portion__content {
  width: 700px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
  /* color: #3de02c; */
  border-left: 5px solid;
  padding-left: 5px;
}
